.bag{
 .bagGrid{
   display: grid;
   grid-template-columns: 348px auto;
   margin-bottom: 72px;
   column-gap: 92px;
   .bagForm{
     display: grid;
     row-gap: 20px;
     .bagTitle{
      display:flex;
      font-size: 32px;
      font-family: 'Outfit';
      font-weight: 600;
      color: var(--black);
      margin: 0;
      height: 45px;
    }
    .description{
      font-family: 'Inter';
      font-size: 18px;
      color: var(--grey);
      text-align: left;
      line-height: 25px;
      margin: 0;
      height: 46px;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    input{
      padding:0 20px;
      width:calc(100% - 40px);
      height: 46px;
      border: 2px solid var(--grey);
      font-family: 'Inter';
      color: var(--black);
      font-size: 16px;
    }
    input::placeholder{
      font-family: 'Inter';
      color: var(--grey);
      font-size: 16px;
    }
    .line{
      width: 100%;
      height: 2px;
      background-color: var(--grey);
    }
    .button{
      border: none;
      width: 100%;
      height: 50px;
      background-color: var(--purple);
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      p{
        font-family: 'Outfit';
        font-size: 20px;
        margin: 0;
        margin-left: 20px;
      }
      svg{
        margin-right: 20px;
        polyline, path, rect{
          stroke-width: 20px;
          stroke-linecap: square;
        }
      }
    }
   }
   .bagProducts{
    display: grid;
    row-gap: 20px;
    .bagTitle{
     display:flex;
     font-size: 32px;
     font-family: 'Outfit';
     font-weight: 600;
     color: var(--black);
     margin: 0;
     height: 45px;
   }
   .description{
     font-family: 'Inter';
     font-size: 18px;
     color: var(--grey);
     text-align: left;
     line-height: 25px;
     margin: 0;
     height: 46px;
     display: -webkit-box;
     max-width: 100%;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     overflow: hidden;
   }
   .products{
     min-height: calc(510px - 4px);
     border: 2px solid var(--grey);
     .productContent{
       padding: 20px;
       display: grid;
       grid-template-columns: [start] 87.5px [col1] auto [col2] 50px [end];
       grid-template-rows: [start] 40px [row1] 40px [end];
       column-gap: 20px;
       row-gap: calc(87.5px - 40px *2);
       img{
         grid-column-start: start;
         grid-column-end: col1;
         grid-row-start: start;
         grid-row-end: end;
         width: 100%;
       }
       p{
         font-family: 'Outfit';
         font-size: 17px;
       }
       .productName{ 
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        grid-column-start: col1;
        grid-column-end: col2;
        grid-row-start: start;
        grid-row-end: row1;
        p{
          margin: 0;
          margin-right: 5px;
          color: var(--black)
        }
       }
       .productSize{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        grid-column-start: col1;
        grid-column-end: col2;
        grid-row-start: row1;
        grid-row-end: end;
        p{
          margin: 0;
          margin-right: 5px;
          color: var(--grey)
        }
       }
       .productPrice{  
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        grid-column-start: col2;
        grid-column-end: end;
        grid-row-start: start;
        grid-row-end: row1;
        p{
          margin: 0;
          color: var(--purple)
        }
       }
     }
     .line{
       position: relative;
       left: 20px;
       width: calc(100% - 40px);
       height: 2px;
       background-color: var(--grey);
     }
   }
   .noProducts{
     border: none;
   }
  }
   
 } 
}