.footer{
  width: calc(100% - 141px * 2);
  margin: 0 auto;
  padding: 72px 0;
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: relative;
  .vLine{
    position: absolute;
    top: 0;
    height: 2px;
    background-color: var(--grey);
  }
  .vl1{
    left: 0;
    width: 532px;
  }
  .vl2{
    right: 0;
    width: 440px;
  }
  p{
    margin: 0;
    font-family: 'Outfit';
    font-size: 20px;
  }
  .footerPolicy{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    p{
      margin-right: 40px;
      color: var(--grey);
    }
  }
  .footerName{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    color: var(--black);
    font-weight: 500;
  }
}