.homeBar{
  display: grid;
  grid-template-columns: [start] 532px [col1] auto [end] ;
  grid-template-rows: 255px;
  column-gap: 112px;
  margin: 72px 0;
  padding:72px 0;
  .homeBarProducts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    position: relative;
    .homeBarProductsTitle{
      position: absolute;
      background-color: white;
      top: -25px;
      padding-right: 30px;
      padding-bottom: 20px;
      p{
        font-family: 'Outfit';
        font-weight: 600;
        font-size: 32px;
        color: var(--black);
        margin: 0;
      }
    }
  }
  .homeAllEditorials{
    height: 100%;
    img{
      height: 209px;
      width: 100%;
      object-fit:cover;
      border: 2px solid var(--grey)
    }
    span{
      display: flex;
      flex-direction: row;
      justify-content:flex-start;
      align-items: center;
      color: var(--black);
      p{
        margin-left: 20px;
        font-family: 'Outfit';
        font-size: 18px;
    
      }
      svg{
        margin-left: 10px;
        margin-top: 3px;
        polyline{
          stroke-width: 30px;
          stroke-linecap: square;
        }
      }
    }
  }
}