.homeProducts{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin: 72px 0;
  position: relative;
  .vLine{
    position: absolute;
    top: 0;
    height: 2px;
    background-color: var(--grey);
  }
  .vl1{
    left: 0;
    width: 624px;
  }
  .vl2{
    right: 0;
    width: 348px;
  }
 .homeProductsProducts{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap:20px;
  margin-top: 72px;
 }
 .homeProductsLink{
  font-family: 'Outfit';
  font-size: 23px;
  color: var(--purple);
  display: flex;
  align-items:center;
  display: none;
  svg{
    margin-left: 10px;
    margin-top: 4px;
    polyline{
      stroke-width: 30px;
      stroke-linecap: square;
    }
  }
 }
}