.homeBar{
  position: relative;
  .vLine{
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--grey);
  }
  .homeBarProducts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    position: relative;
    .homeBarProductsTitle{
      position: absolute;
      background-color: white;
      top: -25px;
      padding-right: 30px;
      padding-bottom: 20px;
      p{
        font-family: 'Outfit';
        font-weight: 600;
        font-size: 32px;
        color: var(--black);
        margin: 0;
      }
    }
  }
 
}

@media screen and (min-width: 1366px) {
  .homeBar{
    display: grid;
    grid-template-columns: [start] 532px [col1] 2px [col2] auto [end] ;
    grid-template-rows: 255px;
    column-gap: 55px;
    margin-top: 72px;
    padding-bottom: 72px;
    .hLine{
      height: 335px;
      width: 2px;
      background-color: var(--grey);
      margin-top: 170px;
    }
    .vl1{
      left: 0;
      width: 348px;
    }
    .vl2{
      right: -141px;
      width: 765px;
    }
    .homeAllEditorials{
      height: 100%;
      img{
        height: 209px;
        width: 100%;
        object-fit:cover;
        border: 2px solid var(--grey)
      }
      span{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        color: var(--black);
        p{
          margin-left: 20px;
          font-family: 'Outfit';
          font-size: 18px;
      
        }
        svg{
          margin-left: 10px;
          margin-top: 3px;
          polyline{
            stroke-width: 30px;
            stroke-linecap: square;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .homeBar{
    margin-top: 58px;
    padding-bottom: 58px;
    .vl1{
      left: 0;
      width: 370px;
    }
    .vl2{
      right: -82px;
      width: 218px;
    }
    .hLine, .homeAllEditorials{
      display: none;
    }
  }
}