.homeEditorials{
  position: relative;
  img{
    object-fit: cover;
  }
  .homeEditorialsLabel{
    position: absolute;
    height: 100%;
    background-color: var(--black);
    color: white;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: scaley(-1) scalex(-1);
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      font-family: 'Outfit';
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 5px;
    }
   
  }
}

@media screen and (min-width: 1366px) {
  .homeEditorials{ 
    display: grid;
    grid-template-columns: [start] 532px [col1] 2px [col2] auto [end] ;
    grid-template-rows:  322px;
    column-gap: 55px;
    margin: 72px 0;
    .hLine{
      height: 90px;
      width: 2px;
      background-color: var(--grey);
      margin-top: 150px;
    }
    img{
      width: 100%;
      height: 100%;
    }
    #pic1{
      width: calc(100% + 141px);
    }
    .homeEditorialsLabel{
      left: -141px;
      width: 84px;
    }
  }
}
@media screen and (max-width: 1365px) and (min-width: 768px) {
  .homeEditorials{ 
    position: relative;
    margin: 58px 0;
    .hLine, #pic1{
      display: none;
    }
    img{
      width: calc(100% + 82px);
      height: 322px;
      position: relative;
    }
    .homeEditorialsLabel{
      left: -82px;
      width: 62px;
      top: 0;
    }
  }
}