.homeHero{
  display: grid;
  grid-template-columns: [start] 532px [col1] auto [end] ;
  grid-template-rows: 255px;
  column-gap: 112px;
  .text{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    p{
      margin: 0;
    }
    .title{
      font-family: 'Outfit';
      font-weight: 600;
      font-size: 55px;
      color: var(--black)
    }
    .description{
      font-family: 'Inter';
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      color: var(--grey);
      text-align: left;
    }
    .button{
      font-family: 'Outfit';
      font-size: 23px;
      color: var(--purple);
      display: flex;
      align-items:center;
      svg{
        margin-left: 10px;
        margin-top: 4px;
        polyline{
          stroke-width: 30px;
          stroke-linecap: square;
        }
      }
    }
  }
  .picture{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .bar{
      background-color: var(--black);
      height: 72px;

    }
    .b1{
      width: calc(100% - 112px);
      z-index: 1;
      position: relative;
    }
    .b2{
      width: calc(112px);
      z-index: 1;
      position: relative;
    }
    .b3{
      width: calc(100%);
      z-index: 3;
      position: relative;
    }
    img{
      position: absolute;
      width: 330px;
      z-index: 2;
      transform: rotate(-22deg) scalex(-1);
      top: 190px;
      right: 170px;
    }
  }
}