@media screen and (min-width: 768px) {
  .navbar{
    margin: 72px 0;
    .navHamburger{
      display: none;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1366px) {
  .navbar{
    margin: 58px 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar{
    margin: 72px 0;
    .navHamburger{
      display:flex;
      justify-content: flex-end;
      align-items:center;
      flex-direction: row;
    }
    .navLinks{
      .navLink{
        display: none;
      }
    }
  }
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  p{
    margin: 0;
    font-family: 'Outfit';
    font-weight: 500;
    color: var(--purple);
  }
  .navTitle{
    font-size: 25px;
  }
  .navLinks{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    flex-direction: row;
    .navLink{
      margin-left: 40px;
      position: relative;
      p{
        font-size: 20px; 
        font-weight: 400;
        color: var(--black);
      }
      div{
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: var(--black);
        bottom: -5px;
      }
    }
  }
}